body {
  margin: 0;
  font-family: 'SF UI Display Medium', -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-family: 'SF UI Display Bold';
}

@font-face {
	font-family: 'SF UI Display Medium'; 
	src: url(/src/assets/sf-ui-display-medium.otf); 
}

@font-face {
	font-family: 'SF UI Display Bold'; 
	src: url(/src/assets/sf-ui-display-bold-58646a511e3d9.otf); 
}

.checkbox {
  border: 1px solid #9e3eff;
  overflow: hidden;
  width: 16px;
  height: 16px;
  border-radius: 5px;
}

.todo_item {
  align-items: center;
  display: flex;
  padding: 10px;
  border: 1px solid #00000005;
  box-shadow: 0px 1px 2px 0px #0000002e;
  margin: 5px;
  border-radius: 8px;
  column-gap: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  
  animation-name: translate;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}

.btn_trash {
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
}

.checkbox_active {
  background: #9e3eff;
  color: white;
}
.completed_task {
  text-decoration: line-through;
}

body {
  margin: 0;
}
input {
  outline: none;
  border: 0;
  font-size: 15px;
  font-family: 'SF UI Display Medium';
  width: 100%;
  background: transparent;
}
.search-input {
  border-radius: 8px;
  background: transparent;
  padding: 9px 15px;
  background: #afafaf24;
  width: calc(100% - 30px);
  background-image: url(./assets/search-interface-symbol.png);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position-y: 11.5px;
  background-position-x: 12px;
  padding-left: 40px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid transparent;
  transition: 0.1s ease;
}
.search-input:focus {
  border: 1px solid #afafaf8e;
  background-color: transparent;
}
.top-menu {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  column-gap: 10px;
}
.main-btn {
  background: #9120ff;
  color: white;
  padding: 8px 12px;
  border: 0;
  border-radius: 8px;
  font-family: 'SF UI Display Medium';
  cursor: pointer;
  transition: 0.1s ease;
}
.btn-secondary {
  background: #afafaf24 !important;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-secondary:active {
  background: #afafaf50 !important;
}
.btn-square {
  height: 38px;
  width: 50px;
}
.main-btn:hover {
  background: #9e3eff;
}
.main {
  /*width: 800px;
  height: 500px;
  margin-top: 50px;
  margin: auto;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  */
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 5px 5px 1px #0000000d;

  /* animation-name: scale;
  animation-duration: 0.5s;
  animation-timing-function: ease; */
}
.compact-btn {
  float: right;
  color: black;
  font-family: Segoe FLuent Icons;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  background: transparent;
  box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 4%);
  padding: 8px 12px;
  cursor: pointer;
}
.left-menu, .content {
  height: 100%;
  overflow: hidden;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}
.left-menu {
  background: #afafaf14;
  width: 300px;
  border-right: 1px solid #afafaf2e;
  transition: 0.2s ease;
  backdrop-filter: blur(30px);
}
.closed-mode .left-menu {
  margin-left: -300px;
}
.closed-mode .content {
  width: 100%;
}

.content {
  width: calc(100% - 300px);
  transition: 0.2s ease;
  overflow-y: auto;
  padding-top: 0;
}
.content__centered {
  margin: auto;
  max-width: 750px;
  height: 100%;
  position: relative;
}
.content__title {
  font-size: 20px;
  padding: 30px 5px 15px 5px;
  margin-bottom: 10px;
  font-family: 'SF UI Display Bold';
  overflow: hidden;
  top: 0;
  background: white;
  position: sticky;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__tasks-list {
  max-height: calc(100% - 130px);
  overflow-y: auto;
}
.addtab-form, .addtask-form {
  bottom: 15px;
  position: absolute;
  width: calc(100% - 30px);
  box-sizing: border-box;
  padding: 12px;
  background: #ffffff;
  margin-bottom: 3px;
  border-radius: 12px;
  border: 1px solid #afafaf47;
}
.addtask-form {
  padding: 8px 12px;
  max-width:  750px;
  position: fixed;
}

.addtask-input {
  max-width: 750px;
}

.task-item {
  background: #ffffff;
  padding: 10px 10px 8px 8px;
  margin: 4px 10px;
  border-radius: 12px;
  border: 1px solid #e2e2e2;
}
.tab-item {
  cursor: pointer;
  margin-bottom: 3px;
  border-radius: 8px;
  padding: 10px 15px;
  transition: 0.1s;
  overflow: hidden;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.tab-item:hover {
  background: rgba(0, 0, 0, 0.02);
}
.tab-active {
  background: #ffffff !important;
  box-shadow: 0px 1px 2px 0px #00000017;
}
.tab-item .badge {
  width: 12px;
  height: 12px;
}
.tab-item p {
  margin: 0;
}
.counter {
  background: #afafaf24;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 5px;
  margin-left: auto;
  animation-name: scale;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}
input.task-item-checkbox {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}
.addtab-badges {
  overflow: hidden;
  padding: 10px 0;
}
.badge {
  width: 24px;
  height: 24px;
  background: #f2f2f2;
  float: left;
  margin: 0 2px;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}
.badge-active {
  border: 2px solid white;
  box-shadow: 0 0 0 2px #9120ff;
}
.badge-orange {
  background: #fef0cb;
}
.badge-red {
  background: #fde1de;
}
.badge-yellow {
  background: #fefdc5;
}
.badge-green {
  background: #ceffd3;
}
.badge-purple {
  background: #e4ceff;
}
.badge-blue {
  background: #e6fdff;
}

.content__title h3 {
  margin: 0;
  float: left;
}

.checkbox:hover .checkbox__check {
  background: #9e3eff;
}

.checkbox__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__check {
  background: #9e3eff;
}

.checkbox__check {
  margin-right: 15px;
  border: 1px solid #e2e2e2;
  background: transparent;
  stroke: #f9f9f9;
  border-radius: 8px;
  fill: none;
  transition: 0.1s ease;
}


@keyframes scale {   
  0% {    
    opacity: 0;
    scale: 0.9;   
  }   
  100% {
    opacity: 1;
    scale: 1;
   }
}


@keyframes translate  {   
  0% {    
    opacity: 0;
    scale: 1;   
    transform: translateY(100px);
  }   
  100% {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
   }
}

@keyframes opacity {   
  0% {    
    opacity: 0;   
  }   
  100% {
    opacity: 1;
   }
}


.button-icon {
    margin-left: auto;
    background: transparent;
    border: none;
    display: flex;
    opacity: 0.4;
    transition: 0.2s;
    cursor: pointer;
}
.button-icon:hover {
  opacity: 1;
}

.nothing-alert {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  animation-name: scale;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  position: absolute;
  height: calc(100% - 250px);
  justify-content: center;
}

.ihherit {
  position: inherit;
}

.dark-mode {
  background: black;
  color: white;
}
.dark-mode .tab-active {
  background: #afafaf24 !important;
}
.dark-mode .addtab-form {
  background: #afafaf24;
}
.dark-mode .content__title, .dark-mode .addtask-form {
  background: black;
}
.dark-mode .todo_item {
  background: #afafaf24;
}
.dark-mode .button-icon {
  color: white;
}
.dark-mode .modal {
  background: #191919;
}

@media screen and (max-width: 750px) {
  .left-menu {
    position: absolute;
    z-index: 1000;
  }
  .content {
    width: 100%;
  }
  .modal {
    width: 100%;
  }
}


.overlay {
    width: 100%;
    height: 100%;
    background: #0000005c;
    position: fixed;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transition: scale 0s, opacity 0.2s;
    opacity: 0;
    display: flex;
    pointer-events: none;
}

.opened_modal {
  pointer-events: all;
  transform: scale(1);
  opacity: 1;
}
.opened_modal .modal {
  transform: scale(1);
  opacity: 1;
}


.modal {
    transition: 0.15s ease-in-out;
    opacity: 0;
    width: 500px;
    background: white;
    border-radius: 20px;
    transform: scale(1.4);
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
}

.modal_bottom-bar button {
  float: left;
  margin-right: 10px;
  width: 50%;
}

.modal_bottom-bar {
  justify-content: center;
  display: flex;
}

.modal h3 {
  font-family: 'SF UI Display Bold';
  padding: 0 20px;
  text-align: center;
}